@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
}

a{
    color: white;
}

#headerFixo{
    background-color: black;
    height: 230px;
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;
}

#headerFixo .promo{
    background-color: rgb(109, 35, 178);
    width: 100%;
}
#headerFixo .promo p{
    color: white;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
}

#headerFixo .topo{
    color: white;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.topo #span_menu{
    height: 24px;
}

.topo #span_menu:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.topo .img_muca{
    background: black url(https://static.wixstatic.com/media/6e4c0a_3399baa8a4434e409db3d9f304d5a1fb~mv2.jpg/v1/fill/w_244,h_49,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/6e4c0a_3399baa8a4434e409db3d9f304d5a1fb~mv2.jpg) no-repeat;
    background-size: cover;
    width: 400px;
    height: 80px;
}

.buscar{
    color: rgb(89, 89, 89);
    margin-top: 20px;
    height: 40px;
    width: 400px;

    cursor: text;
    display: flex;
}

.buscar #id_busca, #search{
    background-color: white;
    border: 0px;
}
.buscar #id_busca{
    height: 100%;
    width: 100%;
}
.buscar #search{
    padding: 10px 8px;
    height: 50%;
}

.menu_display{
    display: none;
}

.menu_display .menu{
    width: 250px;
    background-color: rgb(109, 35, 178);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2%;
    left: 2%;
}

.menu_display .menu a{
    text-decoration: none;
    font-weight: bold;
}

.menu_display .menu .login{
    background-color: rgb(80, 26, 130);

    width: 100%;
    margin-top: 10px;
    padding: 10px;

    text-align: center;
    font-variant: small-caps;
}
.menu_display .menu .login a:hover{
    text-decoration: underline;
}

.menu_display .menu_dados ul{
    list-style-type: none;
    padding: 0px 10px;
}
.menu_dados ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.468);
    padding: 15px 20px;
}
.menu_dados ul li:hover{
    background-color: rgb(80, 26, 130);
    transition: 0.4s;
}
